// Large hero sections on pages
.banner {
	@include bgcover;
	background-color: $base;
	overflow: hidden;
	height: 100vh;
	background-position: top;

	@media screen and (max-width: $mediumdevice) {
		height: 600px;
		margin: $headerheight 0 0;
	}

	@media screen and (max-width: $smalldevice) {
		height: 325px;
	}

	&:before {
		@include overlay;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	p {
		color: white;
	}

	video {
		margin: 70px 0 0;

		@media screen and (max-width: $mediumdevice) {
			height: 600px;
		}

		@media screen and (max-width: $smalldevice) {
			height: 325px;
		}
	}

	.default-banner-wrapper {
		position: absolute;
		z-index: 2;
		bottom: 75px;
		left: 0;
		width: 100%;
		text-align: center;

		h1 {
			position: relative;
			color: white;
		}
	}
}
