$default-btn-display: inline-block;
$default-btn-color: white;
$default-btn-font-size: 16px;
$default-btn-font-weight: 400;
$default-btn-text-transform: uppercase;
$default-btn-letter-spacing: 2px;
$default-btn-bg-color: $blue;
$default-btn-height: 67px;
$default-btn-width: auto;
$default-btn-padding: 0 35px;
$default-btn-border-style: solid;
$default-btn-border-width: 2px;
$default-btn-border-color: $default-btn-bg-color;

@mixin btn (
	$btn-display: $default-btn-display,
	$btn-color: $default-btn-color,
	$btn-font-size: $default-btn-font-size,
	$btn-font-weight: $default-btn-font-weight,
	$btn-text-transform: $default-btn-text-transform,
	$btn-letter-spacing: $default-btn-letter-spacing,
	$btn-bg-color: $default-btn-bg-color,
	$btn-padding: $default-btn-padding,
	$btn-height: $default-btn-height,
	$btn-width: $default-btn-width
) {
	display: $btn-display;
	color: $btn-color;
	font-size: $btn-font-size;
	font-weight: $btn-font-weight;
	line-height: $btn-height;
	text-transform: $btn-text-transform;
	letter-spacing: $btn-letter-spacing;
	padding: $btn-padding;
	width: $btn-width;
	background: $btn-bg-color;
	border: 0;
	outline: 0;
	cursor: pointer;
	font-family: $secbold;

	&:hover {
		background: $yellow;
		color: $blue;
	}

	.fa {
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 5px 5px;
	}

	&.sml {
		line-height: 45px;
		padding: 0 20px;
		font-size: 14px;
	}

	&.yellow {
		background: $yellow;
		color: $blue;

		&:hover {
			background: darken($blue, 7%);
			color: white;
		}
	}
}

@mixin btn-hollow (
	$btn-display: $default-btn-display,
	$btn-color: $default-btn-bg-color,
	$btn-font-size: $default-btn-font-size,
	$btn-font-weight: $default-btn-font-weight,
	$btn-text-transform: $default-btn-text-transform,
	$btn-letter-spacing: $default-btn-letter-spacing,
	$btn-bg-color: $default-btn-bg-color,
	$btn-padding: $default-btn-padding,
	$btn-height: $default-btn-height,
	$btn-width: $default-btn-width,
	$btn-border-width: $default-btn-border-width,
	$btn-border-color: $default-btn-border-color
) {
	display: $btn-display;
	color: white;
	font-size: $btn-font-size;
	font-weight: $btn-font-weight;
	line-height: $btn-height;
	text-transform: $btn-text-transform;
	letter-spacing: $btn-letter-spacing;
	padding: $btn-padding;
	width: $btn-width;
	background: transparent;
	border: $default-btn-border-style $btn-border-width white;
	outline: 0;
	cursor: pointer;
	font-family: $secbold;

	&:hover {
		color: white;
		background: darken($btn-color, 7%);
	}
}

// Buttons
.btn {
	@include btn;
	@include trans;


	@media screen and (max-width: $mediumdevice) {
		font-size: 13px;
		line-height: 45px;
		padding: 0 20px;
	}
}

.btn-hollow {
	@include btn-hollow;
	@include trans;

	@media screen and (max-width: $mediumdevice) {
		font-size: 13px;
		line-height: 45px;
		padding: 0 20px;
	}
}


.underline-btn {
	@include trans;
	font-family: $secbold;
	font-size: 16px;
	color: $black;
	letter-spacing: 2px;
	text-align: center;
	padding: 0 0 10px;
	border-bottom: 2px solid $blue;
	text-transform: uppercase;

	&:hover {
		color: $blue;
		border-bottom: 2px solid #333;
	}


	@media screen and (max-width: $mediumdevice) {
		font-size: 13px;
	}
}