body.page-template-no-header {

	footer {
		display: none;
	}

	section.content {
		padding: 0;
		margin: $headerheight 0 0;

		.flex-row {
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			-webkit-flex-wrap: nowrap;
			-ms-flex-wrap: nowrap;
			flex-wrap: nowrap;
			-webkit-justify-content: flex-start;
			-ms-flex-pack: start;
			justify-content: flex-start;
			-webkit-align-content: stretch;
			-ms-flex-line-pack: stretch;
			align-content: stretch;
			-webkit-align-items: stretch;
			-ms-flex-align: stretch;
			align-items: stretch;

			.col-left {
				-webkit-flex: 0 1 650px;
				-ms-flex: 0 1 650px;
				flex: 0 1 650px;
				background: #f0fcff;
				padding: 50px 70px;
				text-align: center;
				min-height: calc(100vh - 85px);

				@media screen and (max-width: $mediumdevice) {
					-webkit-flex: 0 1 100%;
					-ms-flex: 0 1 100%;
					flex: 0 1 100%;
					padding: 25px 0;
					text-align: left;
					height: auto;
				}

				h1 {
					font-size: 40px;
					line-height: 1.2em;
					margin: 0 0 15px;
				}

				p {
					font-size: 15px;
					line-height: 1.35em;
					margin: 0 0 15px;

					&:last-of-type {
						margin: 0;
					}
				}

				a {
					white-space: nowrap;
					color: $blue;

					&:hover {
						opacity: .5;
					}
				}

				.btn {
					color: white !important;
				}

				input {
					width: 100%;
				}
			}

			.col-right {
				-webkit-flex: 0 1 calc(100% - 650px);
				-ms-flex: 0 1 calc(100% - 650px);
				flex: 0 1 calc(100% - 650px);
				background-position: center !important;
				background-attachment: fixed !important;

				@media screen and (max-width: $mediumdevice) {
					display: none;
				}
			}
		}
	}
}
